In [65]:
import pandas as pd

file = pd.read_csv('total_counties_02.csv')
counties_df = pd.DataFrame(file)

In [63]:
#The original dataframe had a column 'Unnamed: 0' inserted. Reading the CSV to remove this 
#messed up my code below, so I figured it didn't matter too much for the size of what we're working with

counties_df.drop('Unnamed: 0', axis=1)

             location_name   FIPS  year_id        val  yearly_change
0            Aitkin County  27001     1980  74.708551       0.000000
1            Aitkin County  27001     1981  74.983337       0.274786
2            Aitkin County  27001     1982  75.221320       0.237983
3            Aitkin County  27001     1983  75.431234       0.209914
4            Aitkin County  27001     1984  75.576746       0.145512
...                    ...    ...      ...        ...            ...
109930  Yellowstone County  30111     2010  78.798074       0.225578
109931  Yellowstone County  30111     2011  78.812881       0.014806
109932  Yellowstone County  30111     2012  78.854331       0.041450
109933  Yellowstone County  30111     2013  78.770020      -0.084311
109934  Yellowstone County  30111     2014  78.937286       0.167267

[109935 rows x 5 columns]

In [64]:
#This cell gives us adds a column for yearly change into the dataframe (again, 'Unnamed: 0' showed up again)

yearly_change = []

try:
    for x in counties_df.index:
        change = counties_df.iloc[x+1, 4] - counties_df.iloc[x, 4]
        yearly_change.append(change)
except IndexError:
    pass

yearly_change.insert(0,0)

counties_df['yearly_change'] = yearly_change

counties_df.drop('Unnamed: 0', axis=1)

             location_name   FIPS  year_id        val  yearly_change
0            Aitkin County  27001     1980  74.708551       0.000000
1            Aitkin County  27001     1981  74.983337       0.274786
2            Aitkin County  27001     1982  75.221320       0.237983
3            Aitkin County  27001     1983  75.431234       0.209914
4            Aitkin County  27001     1984  75.576746       0.145512
...                    ...    ...      ...        ...            ...
109930  Yellowstone County  30111     2010  78.798074       0.225578
109931  Yellowstone County  30111     2011  78.812881       0.014806
109932  Yellowstone County  30111     2012  78.854331       0.041450
109933  Yellowstone County  30111     2013  78.770020      -0.084311
109934  Yellowstone County  30111     2014  78.937286       0.167267

[109935 rows x 5 columns]

In [66]:
#If y'all were wanting to examine the change between 2 years, the following function should do that.

def LE_change(year1,year2):
    df1 = counties_df.loc[counties_df['year_id'] == year1, :]
    df2 = counties_df.loc[counties_df['year_id'] == year2, :]
    change_list = []
    try:
        for x in df1.index:
            change = df2.iloc[x, 4] - df1.iloc[x, 4]
            change_list.append(change)
    except IndexError:
        pass
    return change_list

#For example
LE_change(1980,2014)

[5.638247159999992,
 5.073637450000007,
 6.061512340000007,
 5.22187658,
 4.373433899999995,
 4.611619970000007,
 2.007276929999989,
 2.854929179999999,
 2.987306459999999,
 5.738319869999998,
 4.535252070000013,
 3.152935190000008,
 2.889441880000007,
 2.8219593900000035,
 5.631210250000009,
 3.8104272499999894,
 2.826389369999987,
 2.176781460000001,
 3.183938470000001,
 4.558158910000003,
 5.117530709999997,
 3.3299544600000104,
 4.306786360000004,
 1.5676251600000057,
 0.8716380900000047,
 2.2698847599999965,
 3.6972926499999943,
 6.007386439999991,
 5.184681999999995,
 3.673339470000002,
 4.136437029999996,
 3.9721408500000024,
 4.397722880000003,
 4.191885810000002,
 3.098834640000007,
 6.213407160000003,
 5.076841779999995,
 4.963837139999995,
 9.769186110000007,
 2.9491357199999726,
 1.4710955199999916,
 2.971094359999995,
 2.8410345899999925,
 2.6561084699999924,
 3.2362184999999926,
 3.7691601200000093,
 4.972529129999998,
 4.108033219999996,
 4.137037650000011,
 3.643404629999992,
 2.2483422999999902,
 2.6927983200000085,
 3.828693180000002,
 4.46438667999999,
 2.3588949900000102,
 4.195912859999993,
 3.183413829999992,
 5.517205289999993,
 3.6502404499999983,
 4.093120750000011,
 4.321121959999985,
 5.125100350000025,
 4.375056079999979,
 3.6184294700000095,
 3.3046846700000003,
 5.559033560000003,
 4.083847789999993,
 5.325990010000012,
 4.561468290000022,
 2.701585350000002,
 3.4101347400000037,
 5.081930270000029,
 2.9646988700000065,
 2.6797104200000064,
 3.464649129999998,
 6.223293679999998,
 2.595948960000001,
 4.9325074599999965,
 1.508512280000005,
 2.548566660000006,
 7.751583679999996,
 5.018354359999989,
 4.8706143099999935,
 4.589494680000001,
 5.086274529999997,
 7.883430590000003,
 3.135428260000012,
 -0.536998049999994,
 1.7320039299999905,
 4.606337310000001]

In [70]:
counties_df.drop('Unnamed: 0', axis=1).to_csv('yearly_change', index=False)